









body {
  margin: 0 ;
}

body {
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-weight: 500;
}

body {
  
  -webkit-user-select: none;
  user-select: none;
}

button {
  
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  position: sticky;
  top : 0.25em ;
  offset-block-start : 0.25em ;
  left: 0.25em ;
  offset-inline-start: 0.25em ;

  backdrop-filter: blur(1em) ;

  font-family: sans-serif;

  display: block;
  display: block flow-root;
  padding-block: 0.5em;
}

h1::before, h2::before, h3::before {
  content: "§";
  color: rgba(128 128 128 / 0.5 );
}

h1:hover::before, h2:hover::before {
  color: rgba(0 96 255 / 0.5 );
}



dialog[open] {
  position: sticky;
  position: fixed;
  inset-block-start: 0;
}

dialog[open] {
  border-radius: 0.5em ;
}
dialog[open]::backdrop {
  background: rgba(0 0 0 / 0.5 ) ;
  backdrop-filter: blur(0.35em) ;
}

dialog:not([open]) {
  opacity: 0 ;
}
dialog[open] {
  opacity: 1 ;
}
@starting-style {
  dialog[open] {
    opacity: 0 ;
  }
}

dialog {
  transition-behavior: allow-discrete ;
}



* {
  transition: all 0.35s ease-out ;
}


















