













@layer stmnavfdefaults01, stmnavfdefaults02, stmnavfdefaults025, stmnavfdefaults03, stmnavfdefaults04, defaults ;

@layer stmnavfdefaults01 {
  //
}

@layer stmnavfdefaults02 {
  
  /* */

  .studk-mnavf-maindiv,
  .studk-mnavf-header,
  .studk-mnavf-footer {
    contain: layout;
  }

  .studk-mnavf-header {
    z-index: var(--layers-headnav) ;
    font-size: 80% ;
    // background-color: "inherit" ;
  }
  
  .studk-mnavf-footer {
    z-index: var(--layers-footer) ;
    font-size: 80% ;
    zoom: 85%;
    // background-color: "inherit" ;
  }
  
  :is(.studk-mnavf-header, .studk-mnavf-footer) {
    position: sticky;
  }

  /* */

  .studk-mnavf-maindiv {
    order: 1;
    // flex: 1 1 auto ;
  }

  .studk-mnavf-header {
    order: 0;
  }
  @media screen {
    .studk-mnavf-header {
      position: sticky;
      inset-block-start: 0;
    }
  }

  .studk-mnavf-footer {
    order: 2;
  }
  @media screen {
    .studk-mnavf-footer {
      position: sticky;
      inset-block-end: 0;
    }
  }
  
}

/* MEDIA-BASED PROGRESSIVE ENHANCEMENT(s) */

@layer stmnavfdefaults02 {
  //

  .studk-mnavf-maindiv {
    font-size: 16px;
  }
  @each $vw in (
    // 8000000
    640,
    560,
    480,
    440,
    400,
    360,
    320,
    280 ,
    240,
    200 ,
    180,
    160,
  ) {
    //
    @media (max-width: #{$vw}) {
      .studk-mnavf-maindiv {
        font-size: #{(
          calc((
            min(16px, (
              pow(($vw / 320), 1 / 2 )
              * 15.05
            ) * 1px )
          ))
        ) };
      }
    }
  }
  
  @media screen and (max-width: 550px) {
    .studk-mnavf-footer {
      inset-block-end: revert;
    }
  }
  
}

@layer stmnavfdefaults025 {
  //

  :is(.studk-mnavf-header, .studk-mnavf-footer) {
    &, & * {
      transition-duration: 5em;
      transition-timing-function: linear;
    }
  }
}

@layer stmnavfdefaults04
{
  // .studk-mnavf-header {
  //   zoom: 90%;
  // }
  // .studk-mnavf-footer {
  //   zoom: 69%;
  // }

  // .studk-mnavf-footer {
  //   filter: none;
  // }
  // :is(.studk-mnavf-footer, .studk-mnavf-header):not(:is(:focus-within, :hover ) ) {
  //   opacity: 0.25;
  //   &:is(.studk-mnavf-header) {
  //     opacity: 0.425;
  //   }
  // }
  // .studk-mnavf-footer:not(:is(:focus-within, :hover ) ) {
  //   filter: blur(0.1em);
  // }
}

@layer defaults {
  //

  :root:has(.nextjs-toast-errors) :is(.studk-mnavf-header , .studk-mnavf-footer ) {
    opacity: 0.25 !important;
  }

}










