













.studk-mnavf-header {
  z-index: var(--layers-headnav) ;
  font-size: 80% ;
  background-color: "inherit" ;
}

.studk-mnavf-footer {
  z-index: var(--layers-footer) ;
  font-size: 80% ;
  zoom: 85%;
  background-color: "inherit" ;
}










