










@layer defaults {
/* */

.studk-ui-table {
  border-collapse: collapse;
}

.studk-ui-table > :is(tbody, thead) > tr > td {
  padding: 0.25em ;
  padding-block: 0.45em ;
  border: 0.05em solid currentColor;
  overflow: hidden;
  overflow: clip ;
}

.studk-ui-table > :is(tbody, thead) > tr {
  min-block-size : 3em;
}
.studk-ui-table > :is(tbody, thead) > tr > td {
  min-inline-size: 3em;
}

.studk-ui-table {
  zoom: 82.367%;
}

.studk-ui-table > :is(tbody, thead) > tr > td {
  /* backdrop-filter: blur(0.25em) ; */
  color: black;
  background: rgba(255 255 255 / 0.815);
}

.studk-ui-tblbyrow-rtdcl-hrow {
  position: sticky;
  inset-block-start: 0;
}

.studk-ui-tblbyrow-rtdcl-row-h {
  position: sticky;
  inset-inline-start: 0;
}

}










