













@layer defaults, tbmcdefaults ;

@layer tbmcdefaults {
/* */
 
.studk-ui-tbmc-timewatchcolumncell {
  padding-inline: 0 ;
}

tbody > * > td.studk-ui-tbmc-timewatchcolumncell {
  padding-block: 0.1em ;
}

table:has(.studk-ui-tbmc-timewatchcolumncell) {
  position: relative;
}

:is(tbody, thead) > * > td {
  // z-index: 10;
}

tbody > * > td.studk-ui-tbmc-timewatchcolumncell + .studk-ui-tbmc-timewatchcolumncell {
  border-inline-start: none ;
}
tbody > * > td.studk-ui-tbmc-timewatchcolumncell:has(+ .studk-ui-tbmc-timewatchcolumncell) {
  border-inline-end: none ;
}

tbody > * > td.studk-ui-tbmc-timewatchcolumncell {
  // opacity: 0.5;
}

tbody:has(td.studk-ui-tbmc-timewatchcolumncell ) {
  background: black;
  color: white;
}

}

@layer defaults {
  //

  tbody > * > td.studk-ui-tbmc-timewatchcolumncell {
    user-select: all;
  }

  @media screen {

    :is(.studk-ui-tbmc-timewatchcolumncell, .studk-ui-tbmctableeelem :is(td, th) ):is(td, th)
    {
      @starting-style {
        opacity: 0 !important ;
      }
    }
  }

} // @layer defaults @screen .studk-ui-tbmc-timewatchcolumncell starting opacity






