



/*

`padding`s, `margin`s, line-spacing(s)


*/












/* RECOMMENDED PER-COMPONENT DEFAULTS */

@layer defaults {
  
  h1 {
    margin-block-end: 1.5em;
  }

  p {
    margin-block: 1.51em 2.5em;
  }

}

@layer defaults {
  
  menu {
    padding-inline-start: 1em ;
  }

  menu {
    line-height: 2em;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
  }

}

@layer defaults {
  button {
    margin-block-end: 0.75ex;
  }
}











