

/* ☄☘☃↗ */






@layer defaults {

/* equivalent to ((32 + 8)em ), but we can't use `px` so we assume per `em` is `16px` */

.strl-d1 {
  display: grid;
  grid: "main" "exploringView" ;
  grid-template-rows: auto ;
  grid-template-columns: 1fr;
}

.strl-d1 {
  overflow-x: clip;
}

.strl-exploringAndOutline {
  display: grid;
  grid: "thisdoc" "otherdocs";
  grid-template-rows: 1fr 1fr ;
}
.strl-exploringAndOutline > :nth-child(1) {
  grid-area: thisdoc;
}

.strl-exploringAndOutline {
  height: 96vh;
  position: sticky;
  top: 2em;
}

.strl-d2 {
  min-height: 200vh ;
}

@media (min-width: 640px)
{
  
  .strl-d1 {
    display: grid;
    grid: "main exploringView" "main ." ;
    grid-template-columns: 3fr 1fr ;
    grid-template-rows: 98vh 1fr ;
  }
  .strl-d1 > :nth-child(1) { grid-area: main; }
  .strl-d1 > :nth-child(2) { grid-area: exploringView; }
  
  .strl-exploringAndOutline {
    display: grid;
    grid: "otherdocs" "thisdoc";
    grid-template-rows: 1fr 1.9fr ;
  }

  .strl-exploringAndOutline {
    background: rgba(0 0 0 / 0);
  }

  /* .strl-exploringAndOutline {
    padding-block-end: 5em ;
    margin-block-end: -4.5em ;
  } */

  .strl-d1 {
    grid-template-rows: 116vh 1fr ;
  }
  .strl-exploringAndOutline {
    height: 116vh;
    top: 0;
  }

}

.strl-exploringAndOutline {
  background: rgba(0 0 0 / 0.2);
}

.strl-exploringAndOutline {
  zoom: 81%;
  padding: 0.5em;
}

.strl-exploringAndOutline {
  background: rgba(0 0 0 / 0.82);
  color: rgba(255 255 255 / 0.9);
  border-radius: 0.3em ;
}

}






.arbrd-d2 {
  border-radius: 0.25em;
  
}

.arbrd-d2 {
  
  background: white !important;
  color: black !important;

  text-align: start;
  justify-content: start;
  justify-items: start;
}

.arbrd-d2 {
  
  box-shadow: "#0000002d 0 0 0.3em 0.3em" !important;
  border-radius: "0.25em" !important;
  border        : "0.05em solid black" !important;
  
  padding-block : "2em 3em"       !important;
  padding-inline: "0.51em 0.51em" !important;
}

.arbrd-d3 {
  max-width: 28em;
  margin-inline-end  : 3em ;
  margin-inline-start: 1em ;
}

.arbrd-d2 {
  display: block;
  max-inline-size: 880px;
  margin-inline: auto ;
}











