







@layer defaults {
/* */

.studk-ui-dbcj {
  display: inline-block;
  position: relative;
  padding-block-end: 1.5ex;
  padding-inline-end: 1.5ex;
}

.studk-ui-dbcj.studk-ui-dbcb:not(:disabled)::before,
.studk-ui-dbci.studk-ui-dbcb:not(:disabled)::after {
  content: "⚾";
}
.studk-ui-dbcj.studk-ui-dbca:not(:disabled)::before {
  content: "[link]";
}
.studk-ui-dbcj:is(.studk-ui-dbca, .studk-ui-dbcb ):not(:disabled)::before {
  margin-inline-end: 0.5ex;
  margin-block-end : 0.5ex;
}

.studk-ui-dbcj {
  border: 0.05em solid currentColor;
  padding-block: 0.25em;
  border-radius: 0.25em;
  font-size: 90% ;
}

.studk-ui-dbcj {
  margin-inline-end: 1.0ex;
}

.studk-ui-dbci {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.studk-ui-dbcj {
  user-select: none;
  user-select: none !important ;
}

.studk-ui-dbcj.studk-ui-dbca {
  color: hsl(240, 100%, 50%) !important ;
  border: 0.115em solid currentColor;
  background-color: white ;
  /* color: hsl(240, 100%, 25%) !important ; */
  /* background-color: hsl(210, 100%, 75%) !important ; */
}

}




@layer defaults {

}






