




















.arbrd-d1 {
  padding-inline: 1em 1em;
  padding-block: 1em 1em;
  /* overflow-x: auto; */

}

@media (min-width: 1024px)
{  
  .arbrd-d1 {
    padding-inline: 3em 1em;
  }
}

// html {
//   background: hsl(89.88deg 100% 11.5%) ;
//   color: white;
//   font-weight: 530;
// }
// html {
//   justify-content: center;
//   text-align: center;
// }

// html {
//   background: hsl(240, 84%, 17%);
// }

/* 
.arbrd-d1 {
  display: block;
  max-inline-size: 1196px;
  margin-inline: auto ;
} */










